- @no_container = true
- @force_show_panel_header = true
- page_title @data.title
- add_page_specific_style 'page_bundles/observability'

- content_for :static_panel_actions do
  #js-observability-feedback

= render 'shared/observability/iframe', data: @data
