.rd-app-empty-state
  = render Pajamas::CardComponent.new(card_options: { class: "rd-app-empty-state-card" }) do |c|
    - c.with_body do
      = render Pajamas::EmptyStateComponent.new(**empty_state_options) do |c|
        - if description
          - c.with_description do
            = description
