= gitlab_ui_form_for @application_setting, url: metrics_and_profiling_admin_application_settings_path(anchor: 'js-logging-field-naming-settings'), html: { class: 'fieldset-form' } do |f|
  = form_errors(@application_setting)

  #js-logging-field-settings{ data: {
    persisted_version: @application_setting.logging_field_schema_version,
    persisted_dual_emit_target: @application_setting.logging_field_dual_emit_target,
    latest_version: ApplicationSetting::LOGGING_FIELD_LATEST_VERSION,
    available_versions: ApplicationSetting::LOGGING_FIELD_SCHEMA_VERSIONS.to_json,
    field_changes: logging_field_changes_data.to_json
  } }

  = f.submit _('Save changes'), pajamas_button: true
