- page_title s_("OfflineTransfer|History")
- add_to_breadcrumbs s_("OfflineTransfer|Offline transfer"), import_offline_path
- add_to_breadcrumbs s_("OfflineTransfer|Export"), import_offline_export_path

#js-offline-transfer-export-history
