- if can_admin_cluster?(current_user, @cluster)
  %div{ class: "settings expanded !gl-border-0 !gl-m-0" }
    %p
      = s_('ClusterIntegration|Advanced options on this Kubernetes cluster’s integration')
    .settings-content#advanced-settings-section
      = render 'clusters/clusters/advanced_settings'
