- namespace_link = link_to(@achievement.namespace.full_path, group_url(@achievement.namespace))
- bold_tag_pair = tag_pair(tag.b, :bold_start, :bold_end)
- profile_link_tag_pair = tag_pair(link_to('', user_url(@user), target: '_blank', rel: 'noopener noreferrer'), :link_start, :link_end)

%p
  = safe_format(s_("Achievements|%{namespace_link} awarded you the %{bold_start}%{achievement_name}%{bold_end} achievement!"), bold_tag_pair, namespace_link: namespace_link, achievement_name: @achievement.name)
- if @user_achievement.award_message.present?
  = sanitize(@user_achievement.award_message_html)
%p
  = safe_format(s_("Achievements|View your achievements on your %{link_start}profile%{link_end}."), profile_link_tag_pair)

- accept_link = link_to(s_("Achievements|Accept this achievement"), @accept_url)
%p
  = html_escape(s_("Achievements|%{accept_link} to show it on your profile. If you do not wish to accept, simply ignore this email.")) % { accept_link: accept_link }
